.menu {
  background-color: rgb(102, 204, 51);
  position: absolute;
  left: 90px;
  top: 138px;
  width: 1249px;
  height: 50px;
  z-index: 3;
}
.menu > ul {

    list-style-type:none;
    margin: 0;
    padding-top:1px;
    text-align: center;

    }

.menu> ul> li {
   
margin-top: :5px;
    display: inline;
}

.rightdown {
  border-width: 2px;
  border-color: rgb(102, 204, 51);
  border-style: solid;
  background-color: rgb(102, 204, 51);
  position: absolute;
  left: 997px;
  top: 505px;
  width: 252px;
  height: 310px;
  z-index: 3;
}
.leftdown {
  border-width: 2px;
  border-color: rgb(102, 204, 51);
  border-style: solid;
  background-color: rgb(102, 204, 51);
  position: absolute;
  left: 90px;
  top: 505px;
  width: 252px;
  height: 310px;
  z-index: 3;
}


.rightup {
  border-width: 2px;
  border-color: rgb(102, 204, 51);
  border-style: solid;
  background-color: rgb(102, 204, 51);
  position: absolute;
  left: 997 px;
  top: 188px;
  width: 252px;
  height: 310px;
  z-index: 3;
}
